runFile('anagram.py')
runFile('arrows.py')
runFile('choose-your-adventure.py')
runFile('clocks.py')
runFile('file-manager.py')
runFile('flashcards.py')
runFile('guessing_game.py')
runFile('guessing_game_gui.py')
runFile('hangman.py')
runFile('image-resizer.py')
runFile('palindrome.py')
runFile('password-generator.py')
runFile('password-validator.py')
runFile('rock-paper-scissors.py')
runFile('tic-tac-toe.py')
runFile('to-do-list.py')
runFile('turtle-draw.py')
runFile('typing-speedtest.py')
runFile('wordcount.py')
